    <footer>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <hr>
            <p class="text-right">Written by <i><a href="https://twitter.com/{{page.byline}}">@{{page.byline}}</a></i></p>
            <p class="text-right">© privy.io 2014</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /footer -->
      

    <!-- attach JavaScripts -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap-autohidingnavbar/dist/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <script src="/scripts/main.js"></script>
    
    <script>$("div.navbar-fixed-top").autoHidingNavbar();</script>
      
  </body>
</html>
