<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <title>{{site.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- attach CSS styles -->
    <link href="/bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/arrow.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" id="nav" style="background-color:white; border-radius:0px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://privy.io">
            <img src="/images/logo.png" alt="Privy.io - actionable trading data" style="width:155px;height:30px">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void();" onclick="showModal();">Request a demo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="emailPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Get started with privy.io</h4>
          </div>
          <div id="modal-body" class="modal-body modal-container">
            <form id="sub-form" onsubmit="return false;">
              <p>If you like our content, fill out the form below.
              We'll make sure you get our best stuff.</p>
              <div>
                <label>Email Address</label>
                <input id="modal-address" type="email" required/>
              </div>
              <div>
                <label>Name</label>
                <input id="modal-name" type="text" required/>
              </div>
              <div>
                <label>Message</label>
                <textarea id="modal-message"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

