<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <title>{{site.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- attach CSS styles -->
    <link href="/bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/arrow.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:white; border-radius:0px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://privy.io">
            <img src="/images/logo.png" alt="Privy.io - actionable trading data" style="width:155px;height:30px">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" onclick="popupOpen();">Request a demo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
