<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="list-group" style="margin-top:20px">
      <div class="list-group-item">
        <h2 style="margin-top: 0px">Like trading?</h2>
        <p>Download our free <br>trading PDF.</p>
        <p class = "center">No spam. Ever.</p>
        <form class="form-horizontal" role="form">
          <div class="form-group text-center">
            <input type="email" id="emailInput1" placeholder="me@domain.com" required>
            <button type="button" class="btn btn-warning btn-sm" onclick="popupOpen();">Go!</button>
          </div>
        </form>
      </div>
    </div>
    <h4 class="text-center"><strong>Other posts</strong></h4>
    <a href="#" class="list-group-item">
      <h3 class="list-group-item-heading" class="yo">Are full moons actually associated with stock volatility?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quia, eaque, nemo possimus alias, tenetur dolorum nam commodi facere, ad nisi. Numquam quis, magni, quia quam a molestias porro quasi.</p></a>
    <a href="#" class="list-group-item">
      <h3 class="list-group-item-heading">What's up with Jerry Seinfeld?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo harum repellendus?</p></a>
    <a href="#" class="list-group-item">
      <h3 class="list-group-item-heading">When it's inappropriate to trade</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi possimus dignissimos, eos maxime illum eligendi</p></a>
    <a href="#" class="list-group-item">
      <h3 class="list-group-item-heading">Trading theory</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium itaque laboriosam</p>
    </a>
    <h3><strong>About Privy.io</strong></h3>
    <p><a href="https://privy.io">Privy.io</a> enables traders to monitor and screen companies using signals gathered from the Internet.
  </div>
