<div class="col-md-3 col-sm-12">
  <div class="list-group" style="margin-top:30px">
    <div class="list-group-item">
      <h2 style="margin-top: 0px">Like trading?</h2>
      <p>Download our free <br>trading PDF.</p>
      <p class="center">No spam. Ever.</p>
      <form class="form-horizontal" role="form">
        <div class="form-group text-center">
          <input type="email" id="address" placeholder="me@domain.com">
          <button type="button" class="btn btn-warning btn-sm" onclick="showModal();">Go!</button>
        </div>
      </form>
    </div>
  </div>
  <h3><strong>About Privy.io</strong></h3>
  <p><a href="https://privy.io">Privy.io</a> enables traders to monitor and screen companies using signals gathered from the Internet.
</div>
