{% include header.html %}

    <header>  
      <!-- first section - Home -->
      <div id="home" class="home">
        <div class="text-vcenter">
          <h2 class="col-xs-12" style="color:#E5E5E5;">{{page.title}}</h2>
          <h4 style="color:#E5E5E5;">{{page.subtitle}}</h4>
        </div>
      </div>
    </header>

    <section class="main">
      <a class="arrow-wrap" href="#content">
        <span class="glyphicon glyphicon-chevron-down arrow-icon" style="font-size:40px;"></span>
      </a>
      <div class="container" id="content">
        <div class="row">
          <div class="col-md-9">
            <div class="content">
              {{content}}
            </div>
          </div>
          {% include sidebar.html %}
        </div>
      </div>
    </section>
{% include footer.html %}

