/* Global Elements */
@charset "utf-8";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-size:1.2em;
    font-family:'Open Sans', sans-serif;
    height:100%;
}
h1 {
    font-family:'Maven Pro', sans-serif;
    font-weight:300;
    font-size:2.4em;
}
h2, h3 {
    font-family:'Maven Pro', sans-serif;
    font-weight:300;
    font-size:2.3em;
    margin-top:1.1em;
}
pre {
    background:#ededed;
    padding:1em;
}
p {
    color: #555;
    font-size: 1.3em;
}
p a {
    color:#14b5d1;
    text-decoration:none;
}

/* Helpers */

.arrow-icon {
    margin-top: -11px;
    margin-left: -2px;
}
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar-default .navbar-brand {
    margin: -5px auto;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    margin-right: 8px;
}
.navbar-default .navbar-nav .active a{

    border-radius: 10px;
    color: black;
}

/*Main content header*/
header h1 {
    margin:0;
    color: #fcfcfc;
}
header h3 {
    margin:0;
    color: #fcfcfc;
}
header a {
    color:#56dcee;
    opacity:0.5;
    text-decoration:none;
}
header a:hover {
    color:#333;
    opacity:1;
}
.home {
    background-image: url("/images/estatee.jpg"); 
    display: table;
    height:600px;
    position: relative;
    padding: 0px 0px;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

/* Main content section*/
section {
    width:100%;
    background:#fff;
    position:relative;
    box-shadow:0 0 5px 0px #333;
}
.content {
    width:70%;
    margin:0 15%;
    padding:2em 0;
}

/* footer */
footer {
    padding: 20px 0;
    background-color: #E7E7E7;
}

/* modal window */
.modal-container {
    width: 500px;
    clear: both;
}
.modal-container input {
    width: 100%;
    clear: both;
}
.modal-container textarea {
    width: 100%;
    clear: both;
}

/* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/bootstrap-one-page-template-with-parallax-effect/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */



